<div class="modal fade" id="frmDetalleProtocolo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id = 'false'>&times;</button>
        <h4 class="modal-title" id="myModalLabel">FIP - Trámite Documentario</h4>
      </div>
      <div class="modal-body">
        <div>
            <table class="table table-bordered">
                <tbody id="bandeja_detalle_protocolo">
                  
                </tbody>
            </table>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
