<div class="modal fade" id="frmDetalleReferencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog2">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id = 'false'>&times;</button>
        <h4 class="modal-title" id="myModalLabel">FIP - Trámite Documentario</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>

            <tr style="">
              <!--<td rowspan="2">-->
              <td style="width:500px;">
                <div id="detalleReferencia">
                  
                </div>
              </td>
              <td>
                <label class"form-group control-label" style="color:#082C4D;">Colabores asignados:</label>
                <div id="documentosReferencia">
                  
                </div>
              </td>
              
            </tr>
            
            <!--<tr>
              <td>
                <label class"form-group control-label" style="color:#082C4D;">Modificatorias:</label>
                <div id="modificatoriasConvenio">
                  
                </div>
              </td>
            </tr>-->
          </tbody>
        </table>
        

         
        
      </div>
      
    </div>
  </div>
</div>