<div class="modal fade" id="detalleProtocolo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id = 'false'>&times;</button>
        <h4 class="modal-title" id="myModalLabel">FIP- Información del Protocolo </h4>
      </div>
      <div class="modal-body">
        <div id="contenidoDetalleProtocolo">
          
        </div>
      </div>
      
    </div>
  </div>
</div>








