<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-cog"></span> Administración</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_TablasMaestro"%}"><span class="glyphicon glyphicon-list-alt text-info"></span> Tablas Maestro</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_Usuario"%}"><span class="glyphicon glyphicon-user text-info"></span> Usuarios</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_Personal"%}"><span class="glyphicon glyphicon-th text-info"></span> Personal</a> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_UEjecutora"%}"><span class="glyphicon glyphicon-record text-info"></span> Unidades Ejecutoras</a> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_Derivacion"%}"><span class="glyphicon glyphicon-transfer text-info"></span> Derivaciones</a> 
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-send"></span> Tramite Documentario</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="{% url "vista_Protocolo"%}"><span class="glyphicon glyphicon-plus text-info"></span> Nuevo Protocolo</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_Convenios" 1%}"><span class="glyphicon glyphicon-file text-info"></span> Convenios</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_Bandeja" 1%}"><span class="glyphicon glyphicon-tasks text-info"></span> Bandeja de Entrada</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url "vista_LocalizarProtocolo"%}"><span class="glyphicon glyphicon-search text-info"></span> Localizar</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <span class="glyphicon glyphicon-edit"></span> Supervisión</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-book text-info"></span> Convenios</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-asterisk text-info"></span> Actividad 2</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-asterisk text-info"></span> Actividad 3</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-asterisk text-info"></span> Actividad 4</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th"></span> Unidad Ejecutora</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tbody><tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-upload text-info"></span> Cargar Presupuesto</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-refresh text-info"></span> Presupuesto</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><span class="glyphicon glyphicon-usd text-info"></span> Rendición de cuentas</a>
                                    </td>
                                </tr>
                                
                            </tbody></table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-9">
        </div>
    </div>
</div>