 <div class="modal fade" id="impresionProtocolo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id = 'false'>&times;</button>
        <h4 class="modal-title text-center" id="myModalLabel">Detalle del Protocolo</h4>
      </div>
      
      <div class="modal-body">
        <div id="printArea">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="2"><strong><center> FONDO CONTRAVALOR ITALO PERUANO </center></strong></th>
                  </tr>
                  <tr>
                    <th colspan="2"><strong><center> REGISTRO DE PROTOCOLO </center></strong></th>
                  </tr>
                </thead>
                <tbody id="detalle_impresion_protocolo">
                  
                </tbody>
              </table>
              

                                   
                           
      </div>
       <a href = "javascript:void(0)" type="button" class="btn btn-default" id="btn_Imprimir" name="btn_Imprimir"><span class="glyphicon glyphicon-print"></span> Imprimir</a>    
    </div>
    </div>
  </div>
</div>

