<div class="modal fade" id="frmDetalleConvenio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id = 'false'>&times;</button>
        <h4 class="modal-title" id="myModalLabel">FIP - Trámite Documentario</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>

            <tr>
              <td rowspan="2" style="width:600px;">
                <div id="div_datos_convenio" >
                  
                </div>
              </td>
              <td>
                <label class"form-group control-label" style="color:#082C4D; width:auto;">Responsables asignados:</label>
                <div id="div_datos_colaboradores">
                  
                </div>
              </td>
              
            </tr>
            <tr>
              <td>
                <label class"form-group control-label" style="color:#082C4D; width:auto">Adendas:</label>
                <div id="div_datos_adendas">
                  
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        

         
        
      </div>
      
    </div>
  </div>
</div>