<div class="modal fade" id="modificar_password_modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h4 class="modal-title" id="myModalLabel">Nuevo Usuario - FIP</h4>-->
        <p class="text-warning text-center" style="font-size:20px;">Actualizar Password - FIP</p>
      </div>
      <div class="modal-body">
        
          <form class="form-horizontal" id="form_modificar_password" action=".">
          
            <center>
              <div class="form-group">
                  <label class="hide col-lg-6 control-label">Nuevo password</label>
                  <div class="input-group col-lg-8">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Nuevo password">
                  </div>
              </div>
              <div class="form-group">
                  <label class="hide col-lg-6 control-label">Confirmar Password</label>
                  <div class="input-group col-lg-8">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    <input type="password" class="form-control" id="pass2" placeholder="Confirme password">
                  </div>
              </div>
            </center>
          </form>
          <div class="hide alert alert-warning" id="divMensajePassword">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="false">&times;</button>
              <p id="mensaje_modificar_password"></p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="btn_modificar_password" name="btn_modificar_password"><span class="glyphicon glyphicon-save"></span> Actualizar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
         
      </div>
    </div>
  </div>
</div>